@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


body {
    font-family: 'Cabin', sans-serif !important;
}


.nav-container {
  display: flex;
  position: absolute;
  top: 0;
  background-color: transparent;
}

.dashbody {
  min-height: 100vh;
  background-color: #121212;
}



html,
body {
  min-height: 100%;
}

body {
  height: 100vh;
}

.nav-blob {
  width: 50px;
  height: 50px;
  background-color: #151515;
  border: solid 2px #343a40;
  border-radius: 50%;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 200ms;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}


.nav-blob svg {
  transition: all 200ms;
}

.nav-blob:hover {
  height: 150px;
  width: 50px;
  border-radius: 5%;
}

.blob-item {
  height: 30px;
  width: 30px;
  opacity: 0;
  transition: all 200ms;
  margin-top: 50px;
}

.nav-blob:hover .blob-item {
  opacity: 1;
  margin-top: 0px;
}

.nav-blob:hover #defaultnav {
  margin-bottom: 80px;
  opacity: 0;
  position: absolute;
}

#defaultnav {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-card {
  background-color: #343a40;
  width: 18rem;
  transition: transform 0.3s;
  border: none !important;
}

.custom-card:hover {
  transform: scale(1.01);
}

.card-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.placecards-container {
  padding-top: 1%;
}

.card-body{
  background-color: #151515;
  border: none;
  .card-title, .card-text{
    color: white;}

}

.card-text {
  display: flex;
  align-items: center;
  gap: 3%;
}

.thumbnail {
  z-index: -1;
  height: 25vh;
  width: 100vw;
  display: inline-block;
  top: 0;

  overflow: hidden;

  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  h2{
    z-index: 1;
    position: absolute;

    top:1vh;

    color: white;
  }

  p {
    z-index: 1;
    position: absolute;

    top: 20vh;

    color: white;

    display: flex;
    align-items: center;
    gap: 0.75vw;
  }

  h2, p {
    left: 2vw;
  }
}

.thumbnail::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.thumbnail img {
  filter: blur(4px);
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  display: block;
  position: absolute;

  top: 0;
  
  object-fit: cover;
}

.restaurant-about {
  background-color: #151515;
  color: white;
  width: 100vw;
  height: fit-content;
  padding: 1vw;


  border-radius: 1.5rem;

  .details{
    background-color: #212121;

    padding: 0.75vw;

    border-radius: 1.5rem;
  }

  .details + .details {
    margin-top: 1.5vh;
  }
}

.all-info{
  position: relative;
  display: flex;
  flex-direction: column;
}

.bottom-test{
  background-color: red;
  position: relative
}