@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


body {
  font-family: 'Cabin', sans-serif !important;
  overflow-x: hidden;
}


.nav-container {
  display: flex;
  position: absolute;
  top: 0;
  background-color: transparent;
}

.dashbody {
  min-height: 100vh;
  background-color: #121212;
}



html,
body {
  min-height: 100%;
}

body {
  height: 100vh;
}

.nav-blob {
  width: 50px;
  height: 50px;
  background-color: #151515;
  border: solid 2px #343a40;
  border-radius: 50%;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 200ms;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}


.nav-blob svg {
  transition: all 200ms;
}

.nav-blob:hover {
  height: 150px;
  width: 50px;
  border-radius: 5%;
}

.blob-item {
  cursor: pointer;
  height: 30px;
  width: 30px;
  opacity: 0;
  transition: all 200ms;
  margin-top: 50px;
}

.blob-item svg:hover {
  opacity: 0.3;
}

.nav-blob:hover .blob-item {
  opacity: 0.5;
  margin-top: 0px;
}

.blob-item svg {
  fill: white !important;
}

.nav-blob:hover .blob-item.current {
  opacity: 1;
}

.nav-blob:hover #defaultnav {
  margin-bottom: 80px;
  opacity: 0;
  position: absolute;
}

#defaultnav {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-card {
  background-color: #343a40;
  width: 18rem;
  transition: transform 0.3s;
  border: none !important;
}

.custom-card:hover {
  transform: scale(1.01);
}

.card-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.placecards-container {
  padding-top: 1%;
}

.card {
  border: solid 2px #343a40 !important;
}

.card-body {
  background-color: #151515;
  border: none;

  .card-title,
  .card-text {
    color: white;
  }

}

.card-text {
  
  display: flex;
  align-items: flex-end;
  gap: 3%;
  justify-content: space-between;
}

.react-draggable.react-draggable-dragged {
  outline: none !important;
}

.thumbnail {
  z-index: -1;
  height: 25vh;
  width: 100vw;
  display: inline-block;
  top: 0;

  overflow: hidden;

  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  h2 {
    z-index: 1;
    position: absolute;

    top: 1vh;

    color: white;
  }

  p {
    z-index: 1;
    position: absolute;

    top: 20vh;

    color: white;

    display: flex;
    align-items: center;
    gap: 0.75vw;
  }

  h2,
  p {
    left: 2vw;
  }
}

.thumbnail::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.thumbnail img {
  filter: blur(4px);
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  display: block;
  position: absolute;

  top: 0;

  object-fit: cover;
}

.restaurant-about {
  background-color: #151515;
  color: white;
  width: 100vw;
  height: fit-content;
  padding: 1vw;


  border-radius: 1.5rem;

  .details {
    background-color: #212121;

    padding: 0.75vw;

    border-radius: 1.5rem;
  }

  .details+.details {
    margin-top: 1.5vh;
  }
}

.all-info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.bottom-test {
  background-color: red;
  position: relative
}

.orders-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms;
}

.orders-list:hover {
  opacity: 0.5;
}

.dishes-styling{
  gap: 3vw;
}

.card-dropdown {
  position: absolute;
  top: 50%;
  right: 102%;
  transform: translateY(-50%);
  transition: all 200ms;
  opacity: 0;
  border-radius: 100%;
}

.card-dropdown-active {
  opacity: 1;
  border-radius: 0;
  transition: all 200ms; 
}

.card-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.card-body::-webkit-scrollbar {
  width: 5px;
}
 
.card-body::-webkit-scrollbar-track {
  background: #151515;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.card-body::-webkit-scrollbar-thumb {
  background: red;
  border: 3px solid blue;
}

.dish-container{
  max-width: fit-content !important;
}

.row{
  display: flex;
  justify-content: space-evenly;
  gap: 2vh;

}

.react-draggable{
  svg{
    fill: white;
  }

  * {
    color: white;

  }

}

.react-draggable > div {
  outline: none !important;
  background-color: #121212;
}

.nav-blob {
    #defaultnav{
    fill: white !important;
  }
}

.clickable{
  cursor: pointer;
}

.confirmation-message {
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  position: fixed;
  top: 0;
  

  width: 100%;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-content {
  width: 90%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.carousel-content {
  width: 100%;
}

.carousel-content .carousel-item img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .centered-content {
      width: 70%;
  }

  .carousel-content .carousel-item img {
      max-height: 400px;
  }
}

@media (min-width: 992px) {
  .centered-content {
      width: 50%;
  }

  .carousel-content .carousel-item img {
      max-height: 500px;
  }
}


@media screen and (max-width: 768px) {
  .nav-blob {
    top: 10%;
  }
}
.cart-button {
  scale: 2.5;
  fill: rgb(223, 223, 223);
  margin-right: 2rem;
  margin-left: 1.1rem;
  :hover{
    fill: rgb(143, 143, 143);
  }
}